<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="login-bbva">

  <template>
    <style>
      paper-button {
        background: #03a9f4;
        color: white;
      }

      .formulario {
         margin: 0 auto;
         text-align: center;
         width: 400px;
      }

      paper-input{
        margin: 0 auto;
        text-align: left;
        width: 300px;
      }

      .boton{
        padding: 20px;
      }

      .indice{
        color:#666666;
        font-size:40px;
      }
    </style>

    <div class="formulario">
      <span class="indice">¡Bienvenido!</span>
      <paper-input name="username" label="username" value="{{usuario::input}}" required></paper-input>
      <paper-input name="password" label="password" type="password" value="{{contrasena::input}}" required></paper-input>
      <div class="boton">
        <paper-button raised on-click="loguearse">Login</paper-button>
      </div>
      <span style="color:red">[[mensaje]]</span>
    </div>

    <iron-ajax
      id="elajax"
      url="http://localhost:3002/api-peru/v1/login"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginBbva extends Polymer.Element {
      static get is() { return 'login-bbva'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          contrasena:{
            type: String
          }
        };
      }

      loguearse() {
        var contacto = {
            "user": this.usuario,
            "password": this.contrasena,
        };
        this.$.elajax.body = contacto;
        this.$.elajax.generateRequest();
      }

      respuestaRecibida(e, request) {
        if(request.succeeded) {
          // this.mensaje = 'la solicitud se resolvió correctamente con código ' + request.login
          sessionStorage.setItem("login",request.response["login"])
          sessionStorage.setItem("documento",request.response["dni"])
          sessionStorage.setItem("usuario",this.usuario)
          sessionStorage.setItem("contrasena",this.contrasena)
          var ruta = "http://"+location.host+"/usuario/info"
          location.assign(ruta)
        } else {
          console.log(request.status)
          this.mensaje = 'Usuario o contraseña incorrecta'
        }
      }

      errorRecibido(e, error) {
        console.log(error.request.status);
        this.mensaje = 'Error en la conexion, código: ' + error.request.status;
      }
    }
    window.customElements.define(LoginBbva.is, LoginBbva);

  </script>
</dom-module>
