<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="realizar-movimiento">

  <template>
    <style>
      paper-button {
        background: #03a9f4;
        color: white;
      }

      .formulario {
         width: 400px;
      }

      paper-input{
        text-align: left;
        width: 300px;
      }

      .boton{
        padding: 20px;
      }

    </style>

      <iron-ajax
        url="http://localhost:3002/api-peru/v1/usuarios/[[view]]"
        auto
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>
      <p><strong>Datos de la Tarjeta</strong></p>
      <p>Numero de tarjeta: [[data.tarjeta.numTarjeta]]</p>
      <p>Tipo de tarjeta: [[data.tarjeta.tipTarjeta]]</p>
      <p>Tipo de Participante: [[data.tarjeta.tipParticipante]]</p>
      <p>Pago atrasado: [[data.tarjeta.pago_atrasado]]</p>
      <p>Pago minimo del mes: [[data.tarjeta.pago_minimo_mes]]</p>
      <p>Pago total del mes: [[data.tarjeta.pago_total_mes]]</p>
      <p>Consumido: [[data.tarjeta.consumido]]</p>
      <p>Linea de Credito: [[data.tarjeta.linea_credito]]</p>
    <br>
    <strong>Realizar pago:</strong> Ingrese el monto minimo o total que desee pagar
    <div class="formulario">
      <paper-input name="cuenta" label="Cuenta" value="{{cuenta::input}}" required></paper-input>
      <paper-input name="descripcion" label="Descripcion" value="{{descripcion::input}}" required></paper-input>
      <paper-input name="monto" label="Monto" value="{{monto::input}}" required></paper-input>
      <paper-input name="moneda" label="Moneda" value="{{divisa::input}}" required></paper-input>
      <div class="boton">
        <paper-button raised on-click="pagar">Pagar</paper-button>
      </div>
    </div>

    <iron-ajax
      id="pagarajax"
      url="http://localhost:3002/api-peru/v1/movimientos2"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaPagar"
      on-error="errorPagar"
    ></iron-ajax>

    <paper-dialog id="modalPago" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Respuesta sobre el pago</h2>
      <p>[[mensajePago]]</p>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RealizarMovimiento extends Polymer.Element {
      static get is() { return 'realizar-movimiento'; }
      static get properties() {
        return {
          view: {
            type: String
          }
        };
      }

      pagar() {
        var d = new Date();
        var day, month

        if (d.getDate() < 10) {
          day = '0' + d.getDate();
        } else {
        	day = d.getDate();
        }

        if (d.getMonth() < 10) {
          month = '0' + d.getMonth();
        } else {
        	month = d.getMonth();
        }

        var fecha = d.getFullYear()+"-"+month+"-"+day;

        var cuerpo = {
          "numCuenta":this.cuenta,
          "descripcion":this.descripcion,
          "monto":this.monto,
          "moneda":this.divisa,
          "fecha":fecha
        };
        this.$.pagarajax.body = cuerpo;
        this.$.pagarajax.generateRequest();
        this.$.modalPago.open();
      }

      respuestaPagar(e, request) {
        if(request.succeeded) {
          this.mensajePago = request.response["Estado"]
        } else {
          this.mensajePago = 'No se pudo realizar el pago, código ' + request.status
        }
      }

      errorPagar(e, error) {
        console.log(error.request.status);
        this.mensajePago = 'Error con el servidor, no se realizar el pago';
      }

    }
    window.customElements.define(RealizarMovimiento.is, RealizarMovimiento);

  </script>
</dom-module>
